@model BO.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Gestion des Catégories</h2>

<div>
    <h4>Êtes-vous sûr de vouloir supprimer cette catégorie ?</h4>
    <hr />
   
    @Html.DisplayFor(model => model.Title)
    <br /><br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" />
        </div>
    }

</div> <br/>
<div>
    @Html.ActionLink("Liste des Catégories", "Index")
</div>

