@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mon sport favori : la sieste.<br />
        @Html.Partial("_LoginPartial")</p>
</div>

<div class="row">
  
</div>