@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<<<<<<< HEAD
    <h1>ASP.NET</h1>
    <p class="lead">Mon sport favori : la sieste.<br />
        @Html.Partial("_LoginPartial")</p>
</div>

<div class="row">
  
=======
    <h1>Une Course ?</h1>
    <p class="lead"> Vous êtes au bon endroit ! </p>
    <p>@Html.ActionLink("Par ici !", "Index", "Races")</p>
>>>>>>> 5baae3940ea1f1e2d00f3d843683c799573f6f35
</div>